# Python Prelude 2: Data Types and Data Structures

## Learning objectives
- Understand the nature of a list.
- Know how to index and slice a list.
- Know some ways to add items to a list.
- Know some methods associated with a list.
<br> <br>
- Understand the nature of a dictionary.
- Know how to index a dictionary.
- Know some functions and methods associated with a dictionary.
<br><br>
- Understand the nature of a tuple and the basic idea of mutability.
- Understand tuple assignment and tuple unpacking.
- Know how perform tuple indexing/slicing.
- Know some tuple methods.
<br> <br>
- Understand the basics of the Boolean data type (bool).
- Know how to use comparison operators.
- Know how to use boolean operators.

## Lists

- Powerful data type in Python.
- Denoted by square brackets [].
- Store items as a mutable ordered sequence of elements.
- Each element in a list is an item.
- Support indexing and slicing.
- Can nest lists within each other.

### Some definitions
- Mutable: can be changed after creation (supports addition/removal/reassignment of items).
- Ordered: as it sounds, has a fixed order (the order of elements provided at the time of assignment) and so can be indexed using numbers.
- Hence a list \[2,1,3,4\] will not be rearranged, 2 will be the first element, 1 will be the second... etc.
- Sequence of elements: fairly self explanatory.

In [2]:
# can handle multiple object types
my_list = [3, "three", 3.0, True]

In [95]:
# can use the type() function to check the data type of an object
type(3)

int

In [96]:
type("three")

str

In [97]:
type(3.0)

float

In [98]:
type(True)

bool

In [3]:
type(my_list)

list

### Indexing and Slicing

In Python, slicing:

- Starts at 0 (zero).
- Is inclusive at the lower bound (including).
- Is exclusive at the upper bound (up to but not including).

In [5]:
my_list = [3, "three", 3.0, True]
my_list

[3, 'three', 3.0, True]

In [6]:
# Index 0 gives first element
my_list[1]

'three'

In [7]:
# Use colon to indicate slice, 1:3 returns 2nd and 3rd items but not 4th
my_list[1:3]

['three', 3.0]

In [8]:
# No upper bound starts with first index indicated and gives everything beyond
my_list[1:]

['three', 3.0, True]

In [9]:
# No lower bound starts from index 0, up to but not including upper bound
my_list[:3]

[3, 'three', 3.0]

In [10]:
# can reassign elements in lists to new values
my_list[1] = my_list[1].upper()
my_list

[3, 'THREE', 3.0, True]

In [11]:
# Can add lists, does not change original list
my_list + ['new item']

[3, 'THREE', 3.0, True, 'new item']

In [12]:
# Must reassign list to change original
my_list = my_list + ['add new item permanently']

my_list

[3, 'THREE', 3.0, True, 'add new item permanently']

In [13]:
# Can multiply, same principle applies
my_list * 2

[3,
 'THREE',
 3.0,
 True,
 'add new item permanently',
 3,
 'THREE',
 3.0,
 True,
 'add new item permanently']

In [14]:
# Lists can be an item within a list
# Lists within lists are called nested
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a nested list
nest_list = [lst_1,lst_2,lst_3]
nest_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [15]:
nest_list[1][1]

5

### List Functions and Methods

In [16]:
# use len() function to check length
len(my_list)

5

In [17]:
# use min() and max() to find highest and lowest item in lists
# works in alphabetical order with strings

new_list = [1,2,3,4,5,6,7,8,9]

print(min(new_list))
print(max(new_list))

1
9

#### .append() vs .extend()
- .append() adds items to the end of a list.
- .extend() adds items in a list (or other iterable) itemwise to the end of a list.
- We can see the difference in addition below.

In [18]:
# add items by .append() method

my_list.append([1,2,3])

my_list

[3, 'THREE', 3.0, True, 'add new item permanently', [1, 2, 3]]

In [19]:
# add items in iterable itemwise by .extend() method

my_list.extend([1,2,3])

my_list

[3, 'THREE', 3.0, True, 'add new item permanently', [1, 2, 3], 1, 2, 3]

In [20]:
# use .pop method to remove and return last item
my_list.pop()

3

In [21]:
# can index, default index -1
my_list.pop(1)

'THREE'

In [22]:
# returned item can be assigned to variable

popped_item = my_list.pop()

popped_item

2

In [23]:
# use .sort() method to sort list, changes original list, no returned value

let_list = ["a", "d", "v", "x", "g"]

num_list = [13,42,4,24,2,46,3,7]

In [24]:
let_list.sort()
num_list.sort()

In [25]:
print(let_list)
print(num_list)

['a', 'd', 'g', 'v', 'x']
[2, 3, 4, 7, 13, 24, 42, 46]

In [26]:
# use .reverse() method to reverse list
num_list.reverse()

print(num_list)

[46, 42, 24, 13, 7, 4, 3, 2]

In [27]:
# use "sep".join(list) to join a list of strings using a separator

list_of_strings = ["This", "is", "a", "sentence."]

" ".join(list_of_strings)

'This is a sentence.'

## Lists Exercises

### Question 1:
Write a program that checks if the two words in a two-word string start with the same letter. <br>
Copy-paste (and slightly modify) your code to try it for both cases.

In [57]:
phrase1 = 'Clean Couch'

# CODE HERE

True

In [58]:
phrase2 = 'Giant Table'

# CODE HERE

False

### Question 2:
Write a program that returns a string with the __words__ reversed.
Once again, try the same operation with both test cases.

In [61]:
my_string1 = 'This is a short phrase'

# CODE HERE

'phrase short a is This'

In [62]:
my_string2 = 'This is actually a significantly longer phrase than the previous one'

# CODE HERE

'one previous the than phrase longer significantly a actually is This'

## A Brief Introduction to Sets

- Sets are a data type in Python.
- They follow the rules of mathematical sets that you should already be familiar with.
- They are mutable and unordered, and they do not contain repeated items (items are unique).
- This means one useful usage of a set is to find all unique items in a list, as we can see below.
- Sets also have their own methods, with operations familiar from mathematical sets.

In [37]:
# can return unique items in list by casting list to set using set() function
long_list = [1,1,1,1,2,3,3,4,5,5,4,4,5,5,6,6,5,55,5,5,5,5]

set_of_list = set(long_list)

print(set_of_list)

{1, 2, 3, 4, 5, 6, 55}

In [38]:
# we develop sets by first creating an empty set and then using .add() to add to it
set_x = set()

print(set_x)

set_x.add(1)

print(set_x)

set_x.add(2)

print(set_x)

set()
{1}
{1, 2}

In [39]:
# if we add 1 again, we see the set does not change, as items in a set are unique
print(set_x)

set_x.add(1)

print(set_x)

{1, 2}
{1, 2}

In [40]:
# .union() finds the union (mathematical union) of one set and another
set_x.union(set_of_list)

{1, 2, 3, 4, 5, 6, 55}

In [41]:
# .update() updates a set with the union of it and another set
print(set_x)

print(set_of_list)

set_x.update(set_of_list)

print(set_x)

{1, 2}
{1, 2, 3, 4, 5, 6, 55}
{1, 2, 3, 4, 5, 6, 55}

In [44]:
# a.difference(b) returns the items in a that are NOT in b
set_x = set()
set_x.add(1)
set_x.add(2)

set_of_list.difference(set_x)

{3, 4, 5, 6, 55}

- We will not cover them further set methods here, but more information is available at:
https://docs.python.org/3/library/stdtypes.html#set

## Dictionaries

- Dictionaries are __unordered__ collections of key:value pairs.
- Keys must be strings (can be any immutable type but best practice to use strings).
- Values can be any data type, including dictionaries themselves (nesting).
- Indexed using keys.

In [10]:
# flexibility of data assignment inc. lists and sub-dictionaries
d = {'k2':123, 'k1':[0,1,2], 'k4':{'insidekey':[100,200]}}

print(d)

{'k2': 123, 'k1': [0, 1, 2], 'k4': {'insidekey': [100, 200]}}

In [122]:
# indexing happens sequentially
d['k4']['insidekey'][1]

200

In [123]:
# can stack calls
d1 = {'k1':["a", "b", "c"]}

print(d1['k1'][2].upper())

C

In [124]:
# both of these methods give the same result
print(d1['k1'][2].upper())

x = d1['k1'][2]
print(x.upper())

C
C

In [125]:
# add by assigning new pair, reassign
d["k7"] = "NEW"

d["k1"] = "VALUE"

print(d)

{'k2': 123, 'k1': 'VALUE', 'k4': {'insidekey': [100, 200]}, 'k7': 'NEW'}

In [11]:
# call all keys/values/pairs by .keys / .values / .items methods, .items returns tuples
print(d.keys())
print()
print(d.values())
print()
print(d.items())

dict_keys(['k2', 'k1', 'k4'])

dict_values([123, [0, 1, 2], {'insidekey': [100, 200]}])

dict_items([('k2', 123), ('k1', [0, 1, 2]), ('k4', {'insidekey': [100, 200]})])

In [12]:
# use in to check if item in iterable
d1 = {"k1": 10, "k2":[1,2,3], "k3":345}

In [13]:
"k2" in d1

True

In [14]:
345 in d1

False

In [15]:
345 in d1.values()

True

In [16]:
345 in d1.keys()

False

## Tuples

- Tuples are like lists: flexible data input.
- But they are immutable: cannot be changed once created.
- Therefore no append/extend/remove/pop methods and no item reassignment for tuples.
- Useful for holding values in data that you do not want to be reassigned by accident.

In [128]:
# immutable but flexible data input
t = (1,2,3)
t1 = (1, "two", 3)
t2 = ("a", "a", "b")

In [129]:
type(t)

tuple

In [130]:
# can use in operator to check if item is in tuple
1 in t1

True

In [131]:
t1.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [132]:
t1[1] = "ten"

TypeError: 'tuple' object does not support item assignment

In [133]:
# check length with len() function
len(t)
print("The length of the tuple is {x}".format(x=len(t)))

The length of the tuple is 3

In [134]:
# count instances using .count() method
t2.count("a")
print("a occurs {x} times in the tuple".format(x=t2.count("a")))

a occurs 2 times in the tuple

In [135]:
# find first index using .index() method
t2.index("a")
print("a occurs first at index {x} in the tuple".format(x=t2.index("a")))

a occurs first at index 0 in the tuple

### Tuple Packing and Unpacking

- One of the most powerful aspects of tuples is a technique called tuple unpacking.
- This allows us to assign variables using commas from a single tuple in order.
- The syntax works as below, although the brackets can be omitted, unless required to be clear.

Python here 'unpacks' the tuple automatically and picks out the values and assigns them to the comma-separated variables:

In [17]:
a, b, c = (1, 2, 3)

print(a)
print(b)
print(c)

1
2
3

We can also assign a tuple to a variable and perform tuple unpacking on the variable:

In [7]:
t1 = (1,2,3)

a, b, c = t1

print(a)
print(b)
print(c)

1
2
3

Here, brackets are implied, Python performs tuple unpacking operation in same way 'under the hood'. <br>
This comma notation is useful shorthand for assigning multiple variables:

In [137]:
a, b, c = 1, 2, 3

print(a)
print(b)
print(c)

1
2
3

Tuples can also be packed in the same way. Again, useful for multiple variable assignment:

In [8]:
print(a)
print(b)
print(c)

t1 = a, b, c

print(t1)

1
2
3
(1, 2, 3)

## Booleans and Comparison Operators

Booleans in Python function as they do in maths. <br>
Can use: 
- (<) less than
- (>) more than
- (<=) less than or equal to
- (>=) more than or equal to
- (==) equal to (single = is assignment)
- (!=) not equal

to evaluate equality/inequality.

Use keywords to chain/modify boolean operators:
- and
- or
- not

In [138]:
1 < 2

True

In [139]:
1 >= 2

False

In [140]:
# and/or for boolean comparison chaining
1 < 2 and 10 < 20

True

In [141]:
True and False

False

In [142]:
# and/or for boolean comparison chaining
25 > 37 or 55 < 100

True

In [143]:
True or False

True

In [144]:
# use not to return opposite boolean
not 100 > 1

False

In [28]:
# use in keyword to check if item is in iterable (also works for strings)
print("x" in [1,2,3])

print("x" in ['x','y','z'])

print("a" in "a world")

False
True
True

## Data Types and Structures Exercises

### Question 1

Describe the key differences between a list, a dictionary and a tuple.

Answer here

### Question 2

What is mutability?

Answer here

### Question 3

Print the string python from this dictionary:

In [18]:
d = {'start here':1,'k1':[1,2,3,{'k2':[1,2,{'k3':['keep going',{'further':[1,2,3,4,[{'k4':'python'}]]}]}]}]}

In [21]:
# CODE HERE

python

### Question 4

Create a nested dictionary called shop with sub-dictionaries called 'prices' and 'pack_sizes'. <br>
'prices' should contain items as keys and prices as values. <br>
'pack_sizes' should contain items as keys and pack sizes as values. <br>

- Tomatoes cost 87p for a pack of 6
- 500g sugar costs £1.09
- Washing sponges cost 29p for a pack of 10
- Juice is £1.89 per 1.5l bottle
- Foil is £1.29 per 30m roll

Use the same keys for both sub-dictionaries, e.g. 'tomato':0.87 and 'tomato':'Pack of 6'. <br>
Use the provided list as the values for pack_sizes (copy-paste the strings):

In [47]:
["Pack of 6", "500g", "Pack of 10", "1.5l bottle", "30m roll"]

shop = {}

In [8]:
shop

{'prices': {'tomato': 0.87,
  'sugar': 1.09,
  'washing_sponges': 0.29,
  'juice': 1.89,
  'foil': 1.29},
 'pack_sizes': {'tomato': 'Pack of 6',
  'sugar': '500g',
  'washing_sponges': 'Pack of 10',
  'juice': '1.5l bottle',
  'foil': '30m roll'}}

### Question 5

Using the nested dictionary above, find the price of the following shopping list:

- 18 tomatoes
- 2 packs of washing sponges
- 4.5 litres of juice
- 4 rolls of foil
- 2kg sugar

Do it in this (rather tedious) order:

Create 4 lists using indexing:
- The first containing the cost per pack of each item called 'pack_cost', indexing the 'prices' dictionary.
- The second containing the pack size of each item called 'pack', indexing the 'pack_sizes' dictionary.
- The third containing the quantities of each item called 'quant' (created for you).
- The fourth containing cost per pack multiplied by quantity for each item called 'tsp', indexing 'unit_cost' and 'pack'.

Print your answer as a nested list of 4 lists called order.

Using sum, find the subtotal (exc. VAT) as a variable called order_subtotal.

Find the total (inc. VAT) as a variable called order_total (VAT is 20%).

(This is a very tedious way of doing this, but it will show you why for loops are super useful later on)

In [51]:
unit_cost = []

pack = []

quant = [3,4,2,3,4]

tsp = []

order = []

order_subtotal

order_total

In [52]:
print(order)

[[0.87, 1.09, 0.29, 1.89, 1.29], ['Pack of 6', '500g', 'Pack of 10', '1.5l bottle', '30m roll'], [3, 4, 2, 3, 4], [2.61, 4.36, 0.58, 5.67, 5.16]]

In [53]:
print("The subtotal is £{:4.2f}.".format(order_subtotal))

The subtotal is £18.38.

In [54]:
print("The total is £{:4.2f}.".format(order_total))

The total is £22.06.

## Summary
We now understand:
- The nature of lists, dictionaries and tuples.
- The basic concept of mutability.
- The basic concept of tuple unpacking.
- The nature of booleans and how to use them.
<br><br>

We now know:
- How to index and slice lists.
- List functions and methods including len(), .append(), .extend() etc.
- How to use a set to find the unique values in a list.
- How to index a dictionary.
- Dictionary methods including .keys(), .values(), .items().
- Tuple methods including .count() and .index().
- How to use booleans and logical operators.
<br><br>

Please use this notebook as a reference, and refer to the links below for more information.

## Further reading
- List methods: https://docs.python.org/3/tutorial/datastructures.html
- Dictionary methods: https://docs.python.org/3/library/stdtypes.html#typesmapping
- Built-in types: https://docs.python.org/3/library/stdtypes.html
- Sets: https://docs.python.org/3/library/stdtypes.html#set